{% extends 'base_layout/layout.html' %}
{% load static %}


{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        .bodys {
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url("{% static 'img/health.png' %}");
            background-size: cover;
        }

        .forms-container {
            overflow-y: auto; /* Позволяет прокручивать список, если он превышает максимальную высоту */
            max-height: 700px;
            background-color: #2db6fa;
            box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
            border-radius: 10px; /* Закругление углов формы */
            margin-right: 35px;
        }
        .forms-container::-webkit-scrollbar {
            width: 10px; /* Ширина скроллера */
        }

        /* Стили для полосы скроллера */
        .forms-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет полосы скроллера */
            border-radius: 5px; /* Закругление углов полосы скроллера */
        }

        .forms-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Цвет фоновой области трека скроллера */
            border-radius: 5px; /* Закругление углов трека скроллера */
        }

        .forms {
            width: 570px;
            max-width: 570px; /* Ширина формы */
            margin: 20px; /* Расстояние между элементами */
            padding: 35px; /* Отступы вокруг содержимого формы */
            border-radius: 10px; /* Закругление углов формы */
            background-color: #e1e4f5; /* Цвет фона формы */
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            border: #d4dcfa 1px solid;
        }


        /* Стили для контейнера списка */
        .payment-list-container {
            max-height: 470px; /* Максимальная высота контейнера */
            overflow-y: auto; /* Добавить скроллер только в случае необходимости */
            border: 1px solid #ccc; /* Граница контейнера */
            border-radius: 10px;
            background-color: #e1e4f5; /* Цвет фона формы */
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            padding: 20px; /* Закругление углов контейнера */
        }

        /* Стили для самого скроллера */
        .payment-list-container::-webkit-scrollbar {
            width: 10px; /* Ширина скроллера */
        }

        /* Стили для полосы скроллера */
        .payment-list-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет полосы скроллера */
            border-radius: 5px; /* Закругление углов полосы скроллера */
        }

        /* Стили для трека скроллера (фоновая область) */
        .payment-list-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Цвет фоновой области трека скроллера */
            border-radius: 5px; /* Закругление углов трека скроллера */
        }

        .payment-list-container table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Схлопывание границ ячеек */
        }

        /* Стили для ячеек заголовков таблицы */
        .payment-list-container th {
            border: 1px solid #949494; /* Граница ячеек заголовков таблицы */
            padding: 8px; /* Внутренние отступы ячеек заголовков таблицы */
            text-align: left; /* Выравнивание текста по левому краю */
        }

        /* Стили для ячеек содержимого таблицы */
        .payment-list-container td {
            border: 1px solid #949494; /* Граница ячеек содержимого таблицы */
            padding: 8px; /* Внутренние отступы ячеек содержимого таблицы */
            text-align: left; /* Выравнивание текста по левому краю */
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'users/agent/header_agent.html' %}
{% endblock %}


{% block content %}

    <div class="bodys">
        <div class="forms-container">
            {% for contract in contracts %}
                <div class="forms">
                    <p>
                        <strong>Клиент:</strong> {{ contract.appointment.client.surname }}
                        {{ contract.appointment.client.name }}
                        {{ contract.appointment.client.secondname|first|upper }}.
                    </p>
                    <p>
                        <strong>Участие в соревнованиях:</strong>
                        {% if contract.appointment.participation_in_competition %}
                            Включено
                        {% else %}
                            Выключено
                        {% endif %}
                    </p>
                    <p><strong>Дополнительные виды спорта:</strong>
                        {{ contract.appointment.additional_sports }}
                    </p>
                    <p><strong>Длительность страхования: </strong>
                        {% if contract.appointment.duration == 1 %}
                            1 год
                        {% elif contract.appointment.duration == 1.2 %}
                            6 месяцев
                        {% elif contract.appointment.duration == 1.3 %}
                            3 месяца
                        {% elif contract.appointment.duration == 1.5 %}
                            1 месяц
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Возрастной коэффициент:</strong>
                        {% if contract.appointment.age_coefficient == 1 %}
                            От 3 до 17 лет
                        {% elif contract.appointment.age_coefficient == 1.5 %}
                            От 18 до 35 лет
                        {% elif contract.appointment.age_coefficient == 1.8 %}
                            От 36 до 65 лет
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Категория спортивного покрытия:</strong>
                        {% if contract.appointment.sport_coverage == 1.2 %}
                            Обычный
                        {% elif contract.appointment.sport_coverage == 1.4 %}
                            Расширенный
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Страховая сумма:</strong>
                        {% if contract.appointment.sum_insurance == 1.1 %}
                            100.000 рублей
                        {% elif contract.appointment.sum_insurance == 1.3 %}
                            250.000 рублей
                        {% elif contract.appointment.sum_insurance == 1.5 %}
                            500.000 рублей
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Стоимость
                        страховки:</strong> {{ contract.appointment.insurance_cost|floatformat:"1" }} рублей
                    </p>
                    <p><strong>Agent:</strong> {{ contract.agent }}</p>
                    <p><strong>Date of Signing:</strong> {{ contract.date_signing }}</p>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="forms-container">
                {% endif %}
            {% endfor %}
            </div>

        <div class="payment-list-container">
            <table>
                <thead>
                <tr>
                    <th>Характер повреждения</th>
                    <th>Процент</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payment_table %}
                    <tr>
                        <td>{{ payment.nature_damage }}</td>
                        <td>{{ payment.percent }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

