{% extends 'layout.html' %}
{% load static %}


{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        .bodys {
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url("{% static 'img/health.png' %}");
            background-size: cover;
        }

        .forms-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Распределение элементов по ширине */
        }

        .forms {
            width: 400px;
            max-width: 400px; /* Ширина формы */
            margin: 20px; /* Расстояние между элементами */
            padding: 35px; /* Отступы вокруг содержимого формы */
            border-radius: 25px; /* Закругление углов формы */
            background-color: #e1e4f5; /* Цвет фона формы */
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            border: #d4dcfa 1px solid;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'client/header.html' %}
{% endblock %}


{% block content %}
    <div class="bodys">
        <div class="forms-container">

            {% for ap_health in appointments_health %}
                <div class="forms">
                    <p>
                        <strong>Клиент:</strong> {{ ap_health.client.surname }} {{ ap_health.client.name }} {{ ap_health.client.secondname|first|upper }}.
                    </p>
                    <p><strong>Дата посещения:</strong> {{ ap_health.available.date }}</p>
                    <p><strong>Время посещения:</strong> {{ ap_health.available.time }}</p>
                    <p>
                        <strong>Участие в соревнованиях:</strong>
                        {% if ap_health.participation_in_competition %}
                            Включено
                        {% else %}
                            Выключено
                        {% endif %}
                    </p>
                    <p><strong>Дополнительные виды спорта:</strong>
                        {{ ap_health.additional_sports }}
                    </p>
                    <p><strong>Длительность страхования: </strong>
                        {% if ap_health.duration == 1 %}
                            1 год
                        {% elif ap_health.duration == 1.2 %}
                            6 месяцев
                        {% elif ap_health.duration == 1.3 %}
                            3 месяца
                        {% elif ap_health.duration == 1.5 %}
                            1 месяц
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Возрастной коэффициент:</strong>
                        {% if ap_health.age_coefficient == 1 %}
                            От 3 до 17 лет
                        {% elif ap_health.age_coefficient == 1.5 %}
                            От 18 до 35 лет
                        {% elif ap_health.age_coefficient == 1.8 %}
                            От 36 до 65 лет
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Категория спортивного покрытия:</strong>
                        {% if ap_health.sport_coverage == 1.2 %}
                            Обычный
                        {% elif ap_health.sport_coverage == 1.4 %}
                            Расширенный
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Страховая сумма:</strong>
                        {% if ap_health.sum_insurance == 1.1 %}
                            100.000 рублей
                        {% elif ap_health.sum_insurance == 1.3 %}
                            250.000 рублей
                        {% elif ap_health.sum_insurance == 1.5 %}
                            500.000 рублей
                        {% else %}
                            Нет данных
                        {% endif %}
                    </p>
                    <p><strong>Стоимость страховки:</strong> {{ ap_health.insurance_cost|floatformat:"1" }} рублей</p>
                    <a href="{% url 'edit_appointment_health' ap_health.id %}">Редактировать</a>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="forms-container">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
