{% extends 'layout.html' %}

{% load static %}


{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        body {
            background: #F8F9FA;
            margin-top: 100px;
            background: url("{% static 'img/Pattern4.png' %}");
            background-size: cover;
        }

        .content {
            margin: 120px 50px 100px;
            border-radius: 25px;
            background-color: rgba(107, 121, 232, 0.6);
            border: 1px solid #b8c1fc;
            box-shadow: 5px 5px 50px 31px rgba(0, 85, 150, 0.2);
        }

        .profile {
            margin-top: 20px;
            margin-left: 30px;
            font-family: 'Montserrat', sans-serif;
        }

        .profile-object {
            padding: 15px;
            background-color: #fff;
            border: 1px solid #b8c1fc;
            border-radius: 15px;
            box-shadow: 5px 5px 50px 2px rgba(0, 85, 150, 0.2);
        }

        .profile-name {
            display: table;
        }

        .profile-name h1 {
            font-size: 36px;
            font-weight: 700;
            color: #313131;
        }

        .profile-image {
            width: 400px;
            height: 400px;
        }

        .profile-image img {
            width: 370px;
            border-radius: 10px;
        }

        .profile-main {
            margin-top: 20px;
            display: flex;
        }

        .profile-info {
            display: flex;
            max-width: 550px;
            width: 550px;
        }

        .user-text p:last-child {
            margin-bottom: 0;

        }

        .profile-info-main {
            width: 400px;
            display: flex;
            justify-content: center;
            align-content: center;

        }

        .profiles {
            max-width: 550px;
            width: 550px;
            display: grid; /* Используем grid layout */
            grid-template-columns: repeat(2, 1fr); /* Два столбца равной ширины */
        }

        .profile-additional {
            margin-top: 20px;
            display: flex;
            margin-bottom: 20px;
        }

        .profile_low {
            max-width: 1000px;
            width: 1000px;
            display: grid; /* Используем grid layout */
            grid-template-columns: repeat(2, 1fr); /* Два столбца равной ширины */
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'client/header.html' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="profiles">
            <div class="profile">
                <div class="profile-name profile-object"><h1>{{ user.surname }} {{ user.name }}</h1>
                </div>
                <div class="profile-main">
                    <div class="profile-image profile-object">
                        <img src="{% static 'img/avatar.jpg' %}">
                    </div>
                </div>
                <div class="profile-additional">
                    <div class="profile-info">
                        <div class="profile-info-main profile-object">
                            <div class="user-text">
                                <p><strong>Email:</strong> {{ user.email }}</p>
                                <p><strong>Номер телефона:</strong> {{ user.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile">
                <div class="profile_low">
                    <div class="profile-additional">
                        <div class="profile-info">
                            <div class="profile-info-main profile-object">
                                <div class="user-text">
                                    <h3>Заявки на страхование здоровья:</h3>
                                    {% for appointments in appointments_health %}
                                        <strong>№{{ forloop.counter }}</strong>
                                        <p><strong>Длительность
                                            страхования:</strong> {{ appointments.get_duration_display }}</p>
                                        <p><strong>Сумма
                                            страхования:</strong> {{ appointments.get_sum_insurance_display }}
                                            рублей</p>
                                        <p><strong>Стоимость
                                            страховки:</strong> {{ appointments.insurance_cost|floatformat:2 }} рублей
                                        </p>
                                        <hr>
                                    {% endfor %}
                                    <h3>Заявки на страхование авто:</h3>
                                    {% for appointments in appointments_car %}
                                        <strong>№{{ forloop.counter }}</strong>
                                        <p><strong>Авто:</strong> {{ appointments.brand }} {{ appointments.model }}</p>
                                        <p><strong>Лошадиные силы:</strong> {{ appointments.horse_power }}</p>
                                        <p><strong>Стоимость страховки:</strong> {{ appointments.insurance_cost }}
                                            рублей
                                        </p>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-additional">
                        <div class="profile-info">
                            <div class="profile-info-main profile-object">
                                <div class="user-text">
                                    <h3>Договора о страховании здоровья:</h3>
                                    {% for contracts in contracts_health %}
                                        <strong>№{{ forloop.counter }}</strong>
                                        <p><strong>Длительность
                                            страхования:</strong> {{ contracts.appointment.get_duration_display }}
                                        </p>
                                        <p><strong>Сумма
                                            страхования:</strong> {{ contracts.appointment.get_sum_insurance_display }}
                                            рублей</p>
                                        <p><strong>Стоимость
                                            страховки:</strong> {{ contracts.appointment.insurance_cost|floatformat:2 }}
                                            рублей
                                        </p>
                                        <p><strong>Дата подписания:</strong> {{ contracts.date_signing }}</p>
                                        <hr>
                                    {% endfor %}

                                    <h3>Договора о страховании авто:</h3>
                                    {% for contracts in contracts_car %}
                                        <strong>№{{ forloop.counter }}</strong>
                                        <p><strong>Авто:</strong>
                                            {{ contracts.appointment.brand }} {{ contracts.appointment.model }}
                                        </p>
                                        <p><strong>Лошадиные силы:</strong> {{ contracts.appointment.horse_power }}</p>
                                        <p><strong>Стоимость
                                            страховки:</strong> {{ contracts.appointment.insurance_cost }}
                                            рублей
                                        </p>
                                        <p><strong>Дата подписания:</strong> {{ contracts.date_signing }}</p>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}