{% extends 'base_layout/layout.html' %}
{% load static %}


{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        .bodys {
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url("{% static 'img/LightCar.png' %}");
            background-size: cover;
        }

        .forms-container {
            overflow-y: auto; /* Позволяет прокручивать список, если он превышает максимальную высоту */
            max-height: 700px;
            background-color: #2db6fa;
            box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
            border-radius: 10px; /* Закругление углов формы */
            margin-right: 35px;
        }
        .forms-container::-webkit-scrollbar {
            width: 10px; /* Ширина скроллера */
        }

        /* Стили для полосы скроллера */
        .forms-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет полосы скроллера */
            border-radius: 5px; /* Закругление углов полосы скроллера */
        }

        .forms-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Цвет фоновой области трека скроллера */
            border-radius: 5px; /* Закругление углов трека скроллера */
        }

        .forms {
            width: 550px;
            max-width: 550px; /* Ширина формы */
            margin: 20px; /* Расстояние между элементами */
            padding: 35px; /* Отступы вокруг содержимого формы */
            border-radius: 10px; /* Закругление углов формы */
            background-color: #e1e4f5; /* Цвет фона формы */
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            border: #d4dcfa 1px solid;
        }

        .payment-list-container {
            max-height: 415px; /* Максимальная высота списка */
            overflow-y: auto; /* Позволяет прокручивать список, если он превышает максимальную высоту */
            border: 1px solid #d4dcfa; /* Граница списка */
            border-radius: 10px; /* Закругление углов списка */
            background-color: #e1e4f5; /* Цвет фона формы */
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            padding: 20px; /* Внутренние отступы списка */
        }

        /* Стили для самого скроллера */
        .payment-list-container::-webkit-scrollbar {
            width: 10px; /* Ширина скроллера */
        }

        /* Стили для полосы скроллера */
        .payment-list-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет полосы скроллера */
            border-radius: 5px; /* Закругление углов полосы скроллера */
        }

        /* Стили для трека скроллера (фоновая область) */
        .payment-list-container::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Цвет фоновой области трека скроллера */
            border-radius: 5px; /* Закругление углов трека скроллера */
        }

        .payment-list-container table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse; /* Схлопывание границ ячеек */
        }

        /* Стили для ячеек заголовков таблицы */
        .payment-list-container th {
            border: 1px solid #949494; /* Граница ячеек заголовков таблицы */
            padding: 8px; /* Внутренние отступы ячеек заголовков таблицы */
            text-align: left; /* Выравнивание текста по левому краю */
        }

        /* Стили для ячеек содержимого таблицы */
        .payment-list-container td {
            border: 1px solid #949494; /* Граница ячеек содержимого таблицы */
            padding: 8px; /* Внутренние отступы ячеек содержимого таблицы */
            text-align: left; /* Выравнивание текста по левому краю */
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'users/agent/header_agent.html' %}
{% endblock %}


{% block content %}

    <div class="bodys">
        <div class="forms-container">
            {% for contract in contracts %}
                <div class="forms">
                <strong>№{{ forloop.counter }}</strong>
                    <p>
                        <strong>Клиент:</strong> {{ contract.appointment.client.surname }}
                        {{ contract.appointment.client.name }}
                        {{ contract.appointment.client.secondname|first|upper }}.
                    </p>
                    <p><strong>Авто:</strong> {{ contract.appointment.brand }} {{ contract.appointment.model }}
                        {{ contract.appointment.car_year }}</p>
                    <p><strong>Лошадиные силы:</strong> {{ contract.appointment.horse_power }}</p>
                    <p><strong>Количество лиц допущенных к
                        управлению:</strong> {{ contract.appointment.get_driver_option_display }}
                    </p>
                    <p><strong>Возраст:</strong> {{ contract.appointment.age }},
                        <strong>cтаж:</strong> {{ contract.appointment.experience }}</p>
                    <p><strong>Стоимость страховки:</strong> {{ contract.appointment.insurance_cost }}</p>
                    <p><strong>Агент:</strong> {{ contract.agent }}</p>
                    <p><strong>Дата подписания договора:</strong> {{ contract.date_signing }}</p>
                </div>
            {% endfor %}

        </div>
        <div class="payment-list-container">
            <table>
                <thead>
                <tr>
                    <th>Характер повреждения</th>
                    <th>Процент</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payment_table %}
                    <tr>
                        <td>{{ payment.nature_damage_car }}</td>
                        <td>{{ payment.percent_car }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

