{% extends 'base_layout/layout.html' %}
{% load static %}


{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .tabs {
            margin-top: 100px;
            display: flex;
            justify-content: center;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .tabs button {
            background: none;
            border: none;
            padding: 14px 20px;
            cursor: pointer;
            transition: 0.3s;
            font-size: 16px;
        }

        .tabs button:hover {
            background-color: #ddd;
        }

        .tabs button.active {
            background-color: #ccc;
        }

        .tab-content {
            display: none;
            padding: 20px;
            max-width: 900px;
            margin: 0 auto;
        }

        .tab-content.active {
            display: block;
        }

        .collapsible-content {
            display: none;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
        }

        .collapsible-content table {
            width: 100%;
            border-collapse: collapse;
        }

        .collapsible-content th, .collapsible-content td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            white-space: nowrap;
        }

        .collapsible-content th {
            background-color: #f2f2f2;
        }

        h2, h3 {
            margin: 0 0 10px;
            cursor: pointer;
        }

        h3:hover {
            color: #007BFF;
        }

        .theme-container {
            margin-bottom: 20px;
            padding: 10px;
            border: 2px solid #29577e;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'users/client/header.html' %}
{% endblock %}


{% block content %}
    <div class="tabs">
        <button class="tab-link" onclick="openTab(event, 'osago_life')">ОСАГО Жизнь</button>
        <button class="tab-link" onclick="openTab(event, 'osago_auto')">ОСАГО Авто</button>
        <button class="tab-link" onclick="openTab(event, 'casco')">КАСКО</button>
        <button class="tab-link" onclick="openTab(event, 'life')">Жизнь</button>
        <button class="tab-link" onclick="openTab(event, 'home')">Квартира</button>
    </div>

    <div id="osago_life" class="tab-content">
        {% for theme in osago_life_themes %}
            <div class="theme-container">
                <h3 onclick="toggleCollapsible(this)">{{ theme.name }}</h3>
                <div class="collapsible-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Характер повреждения</th>
                            <th>Процент от страховой суммы</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in osago_life_assessments %}
                            {% if assessment.theme_id == theme.id %}
                                <tr>
                                    <td>{{ assessment.damage_character }}</td>
                                    <td>{{ assessment.percentage_of_insurance_amount }}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="osago_auto" class="tab-content">
        {% for theme in osago_auto_themes %}
            <div class="theme-container">
                <h3 onclick="toggleCollapsible(this)">{{ theme.name }}</h3>
                <div class="collapsible-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Характер повреждения</th>
                            <th>Процент от страховой суммы</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in osago_auto_assessments %}
                            {% if assessment.theme_id == theme.id %}
                                <tr>
                                    <td>{{ assessment.damage_character }}</td>
                                    <td>{{ assessment.percentage_of_insurance_amount }}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="casco" class="tab-content">
        {% for theme in casco_themes %}
            <div class="theme-container">
                <h3 onclick="toggleCollapsible(this)">{{ theme.name }}</h3>
                <div class="collapsible-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Характер повреждения</th>
                            <th>Процент от страховой суммы</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in casco_assessments %}
                            {% if assessment.theme_id == theme.id %}
                                <tr>
                                    <td>{{ assessment.damage_character }}</td>
                                    <td>{{ assessment.percentage_of_insurance_amount }}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="life" class="tab-content">
        {% for theme in life_themes %}
            <div class="theme-container">
                <h3 onclick="toggleCollapsible(this)">{{ theme.name }}</h3>
                <div class="collapsible-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Характер повреждения</th>
                            <th>Процент от страховой суммы</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in life_assessments %}
                            {% if assessment.theme_id == theme.id %}
                                <tr>
                                    <td>{{ assessment.damage_character }}</td>
                                    <td>{{ assessment.percentage_of_insurance_amount }}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="home" class="tab-content">
        {% for theme in home_themes %}
            <div class="theme-container">
                <h3 onclick="toggleCollapsible(this)">{{ theme.name }}</h3>
                <div class="collapsible-content">
                    <table>
                        <thead>
                        <tr>
                            <th>Характер повреждения</th>
                            <th>Процент от страховой суммы</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for assessment in home_assessments %}
                            {% if assessment.theme_id == theme.id %}
                                <tr>
                                    <td>{{ assessment.damage_character }}</td>
                                    <td>{{ assessment.percentage_of_insurance_amount }}%</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function toggleCollapsible(element) {
            var content = element.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
                var headerOffset = document.querySelector('.header').offsetHeight + 20; // 20px offset
                var elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
                var offsetPosition = elementPosition - headerOffset;

                window.scrollTo({
                    top: offsetPosition,
                    behavior: "smooth"
                });
            }
        }

        document.getElementsByClassName('tab-link')[0].click(); // Открыть первую вкладку по умолчанию
    </script>
    {#    <section>#}
    {#        <div class="card">#}
    {#            <img src="{% static 'img/home.jpg' %}" alt="logo">#}
    {#            <div class="card-content">#}
    {#                <h1>Как не попасть в чрезвычайную ситуацию дома</h1>#}
    {#                <p>Дом - место, где мы должны чувствовать себя наиболее защищенными. Однако, несчастные случаи могут#}
    {#                    произойти в любом месте, в том числе и дома. В этой статье мы рассмотрим несколько простых, но#}
    {#                    эффективных способов предотвратить чрезвычайные ситуации в своем доме.</p>#}
    {#                <ol>#}
    {#                    <li>Установите сигнализацию и датчики движения: Это поможет предотвратить проникновение#}
    {#                        злоумышленников#}
    {#                        и снизить риск возгорания или протечки воды.#}
    {#                    </li>#}
    {#                    <li>Поддерживайте порядок и чистоту: Убедитесь, что ваш дом всегда в порядке, чтобы избежать падений#}
    {#                        и#}
    {#                        других несчастных случаев, связанных с неряшливостью.#}
    {#                    </li>#}
    {#                    <li>Проведите инструктаж по безопасности для семьи: Важно, чтобы все члены семьи знали, как#}
    {#                        действовать#}
    {#                        в чрезвычайных ситуациях, например, пожаре или землетрясении.#}
    {#                    </li>#}
    {#                </ol>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="card">#}
    {#            <img src="{% static 'img/street.jpg' %}" alt="logo">#}
    {#            <div class="card-content">#}
    {#                <h1>Как не попасть в чрезвычайную ситуацию на улице</h1>#}
    {#                <p>Прогулки по улицам города могут быть приятными и интересными, но не всегда безопасными. В этой статье#}
    {#                    мы рассмотрим несколько простых правил, которые помогут вам избежать чрезвычайных ситуаций, когда вы#}
    {#                    находитесь на улице.</p>#}
    {#                <ol>#}
    {#                    <li>Будьте внимательны: Особенно в незнакомых районах или поздно вечером, оставайтесь бдительными и#}
    {#                        следите за своим окружением.#}
    {#                    </li>#}
    {#                    <li>Не ходите одни по темным улицам: Попросите кого-то сопровождать вас, если вам нужно пройти через#}
    {#                        малопросматриваемые районы.#}
    {#                    </li>#}
    {#                    <li>Изучите маршрут заранее: Если вы путешествуете в незнакомом городе, изучите свой маршрут#}
    {#                        заранее, чтобы избежать ошибочного попадания в опасные районы.#}
    {#                    </li>#}
    {#                </ol>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="card">#}
    {#            <img src="{% static 'img/rest.jpg' %}" alt="logo">#}
    {#            <div class="card-content">#}
    {#                <h1>Как не попасть в чрезвычайную ситуацию на отдыхе</h1>#}
    {#                <p>Отдых должен быть временем отдыха и удовольствия, но никогда не стоит забывать о безопасности. В этой#}
    {#                    статье мы рассмотрим несколько советов, которые помогут вам избежать чрезвычайных ситуаций во время#}
    {#                    вашего отдыха.</p>#}
    {#                <ol>#}
    {#                    <li>Храните ценные вещи в безопасном месте: Подумайте о том, как хранить ваши документы, деньги и#}
    {#                        другие ценности, чтобы избежать их кражи.#}
    {#                    </li>#}
    {#                    <li>Исследуйте местность: Прежде чем отправиться в незнакомое место, изучите его особенности,#}
    {#                        опасности и рекомендации по безопасности.#}
    {#                    </li>#}
    {#                    <li>Следуйте местным правилам и рекомендациям: Уважайте местные обычаи и законы, чтобы избежать#}
    {#                        ненужных проблем и конфликтов.#}
    {#                    </li>#}
    {#                </ol>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

{% endblock %}